body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main{
    padding: 1rem;
    background-color: #ffff;
    flex: 1;
    justify-content: center;
}

nav {
    background-color: #4F3222;
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: column;
}

#iniciar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

#logo {
    color: #ffff;
    font-size: 1.7rem;
    text-align: center;
}

#logo:hover{
    cursor: pointer;
}

#sesion {
    color: #000;
    font-size: 1.7rem;
}

#sesion p {
    padding: 0.5rem;
    background-color: #CFBEB5;
    border: transparent;
    border-radius: 18px;
}

#sesion p:hover{
    cursor: pointer;
}

/* Ícono de menú hamburguesa */
#menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#centrarElementos {
    padding: 0 5rem;
    align-items: center;
}

#elementos div {
    padding: 0.5rem 3rem;
    background-color: #846B5D;
    border: transparent;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
}

#elementos a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    #elementos {
        display: none; /* Ocultar el menú inicialmente en pantallas pequeñas */
    }

    #elementos.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #846B5D;
    }

    #elementos div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #elementos a {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #444;
    }
}

footer {
    background-color: #846B5D;
}

footer img:hover{
    cursor: pointer;
}

#alinearfoot {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img.redondearImg{
    padding: 5px;
    margin-top: .5rem;
}

.catalogo{
    color: #ffff;
    text-align: center;
    padding: 0;
    align-items: center;
    p{
        margin: 0rem 0;
    }
    p:hover{
        cursor: pointer;
    }
    h3:hover{
        cursor: pointer;
    }
}

.derechos{
    margin: .5rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffff;
    margin: 0;
    padding: 0;
}

.contacto{
    color: #ffff;
    text-align: center;
    padding: 0;
    align-items: center;
    p{
        margin: 0rem 0;
    }
    iframe{
        margin-top: .5rem;
    }
    h3:hover{
        cursor: pointer;
    }
}

.migasPan{
    margin-left: 3.5rem;
    padding: 0;
    color: #848081;
    a{
        text-decoration: none;
        color: #848081;
    }
    a.nivelA{
        color: #5B5859 !important;
    }
    a:hover {
        text-decoration: underline;
    }
    @media (max-width: 768px) {
        .migasPan {
          font-size: 0.875rem;
        }
      }
}