<div class="catalogoView">
  <div class="migasPan">
    <a href="">Inicio</a> -> <a class="nivelA" href="#">Catálogo</a>
  </div>
  <div class="container mt-2">
    <!-- Título centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="pb-4"><b>Catálogo</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h2>Señora</h2>
      </div>
    </div>

    <div class="row mt-5 senora">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Zapatos de señora suelen ser elegantes y cómodos, disponibles en
            diversos estilos como tacones, flats, sandalias o botas, con
            materiales que van desde cuero hasta tela. Diseñados para combinar
            moda y funcionalidad, varían en altura, detalles decorativos y
            colores según la ocasión.
          </p>
          <div class="text-center mt-4">
            <button class="btn custom-btn" onclick="cargarSenora();">
              Ver catálogo completo
            </button>
          </div>
        </div>
      </div>

      <!-- Opción de agregar imagen -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img alt="modelo más vendido" src="" width="300" height="250" />
      </div>
    </div>

    <!-- Joven -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Joven</h2>
      </div>
    </div>

    <div class="row mt-5 joven">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Los zapatos de joven para mujer son versátiles y estilosos,
            abarcando desde zapatillas deportivas y botines hasta sandalias y
            tacones bajos. Suelen estar hechos de materiales ligeros y cómodos,
            con diseños que reflejan tendencias modernas y colores vibrantes,
            ideales para el día a día y ocasiones informales.
          </p>
          <div class="text-center mt-4">
            <button class="btn custom-btn" onclick="cargarJoven();">
              Ver catálogo completo
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img alt="modelo más vendido" src="" width="300" height="250" />
      </div>
    </div>

    <!-- Escolar -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Escolar</h2>
      </div>
    </div>

    <div class="row mt-5 escolar">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Los zapatos escolares son prácticos y cómodos, diseñados para el uso
            diario en el entorno académico. Suelen ser de cuero o materiales
            sintéticos, con suelas antideslizantes y diseños sencillos, como
            mocasines o zapatos cerrados, en colores neutros que cumplen con los
            códigos de vestimenta escolar.
          </p>
          <div class="text-center mt-4">
            <button class="btn custom-btn" onclick="cargarEscolar();">
              Ver catálogo completo
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img alt="modelo más vendido" src="" width="300" height="250" />
      </div>
    </div>

    <!-- Casual -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Casual</h2>
      </div>
    </div>

    <div class="row mt-5 casual">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Los zapatos casuales son informales y cómodos, perfectos para el uso
            diario. Pueden incluir zapatillas, flats o botines, hechos de
            materiales como tela, cuero o sintéticos, y suelen presentar una
            variedad de colores y estilos para complementar diferentes outfits,
            desde jeans hasta vestidos.
          </p>
          <div class="text-center mt-4">
            <button class="btn custom-btn" onclick="cargarCasual();">
              Ver catálogo completo
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img alt="modelo más vendido" src="" width="300" height="250" />
      </div>
    </div>

    <!-- Enfermera -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Enfermera</h2>
      </div>
    </div>

    <div class="row mt-5 enfermera">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Los zapatos de enfermera están diseñados para ofrecer comodidad y
            soporte durante largas jornadas de trabajo. Suelen ser de materiales
            fáciles de limpiar, con suelas antideslizantes y diseños cerrados
            para mayor seguridad. Además, suelen incluir características como
            plantillas acolchadas y buena ventilación para un uso prolongado.
          </p>
          <div class="text-center mt-4">
            <button class="btn custom-btn" onclick="cargarEnfermera();">
              Ver catálogo completo
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img alt="modelo más vendido" src="" width="300" height="250" />
      </div>
    </div>
  </div>
</div>
