<div class="contactoView">
  <div class="migasPan">
    <a href="">Inicio</a> -> <a class="nivelA" href="#">Contacto</a>
  </div>
  <div class="container mt-2 mb-4">
    <!-- Título centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="pb-4"><b>Contacto</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-center mb-4 d-flex mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29768.012923429986!2d-101.711313!3d21.152334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bc06e4e1d5a79%3A0x40248ea06dc675dc!2sUniversidad%20La%20Salle%20Baj%C3%ADo%20Campus%20Campestre!5e0!3m2!1ses-419!2smx!4v1729470903931!5m2!1ses-419!2smx"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="col-6 text-center mb-4">
        <div class="fondo">
          <h3>Dirección</h3>
          <a href="">
            Avenida Universidad 602, Lomas del Campestre, 37150 León de los
            Aldama, Gto.
          </a>
        </div>
        <div class="fondo">
          <h3>Número telefónico</h3>
          <a href="">+524770374827</a>
        </div>
        <div class="redes">
          <div class="logo">
            <div>
              <a href="">
                <img src="../src/svg/facebook-o-svgrepo-com.svg" alt="F" />
              </a>
            </div>
            <div class="centrar">
              <a href="" class="link">Facebook</a>
            </div>
          </div>
          <div class="logo">
            <div>
              <a href="">
                <img src="../src/svg/instagram-167-svgrepo-com.svg" alt="I" />
              </a>
            </div>
            <div class="centrar">
              <a href="" class="link">Intagram</a>
            </div>
          </div>
          <div class="logo">
            <div>
              <a href="">
                <img src="../src/svg/icons8-twitterx.svg" alt="T" />
              </a>
            </div>
            <div class="centrar">
              <a href="" class="link">Twitter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
