<div class="contactoView">
  <div class="migasPan mb-3">
    <a href="">Inicio</a> -> <a class="nivelA" href="#">Contacto</a>
  </div>
  <div class="container mt-2 mb-4">
    <!-- Título centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="pb-4"><b>Contacto</b></h1>
      </div>
    </div>
    <div class="row">
      <!-- Columna del mapa -->
      <div class="col-md-6 mb-4">
        <div class="ratio ratio-4x3">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29768.012923429986!2d-101.711313!3d21.152334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bc06e4e1d5a79%3A0x40248ea06dc675dc!2sUniversidad%20La%20Salle%20Baj%C3%ADo%20Campus%20Campestre!5e0!3m2!1ses-419!2smx!4v1729470903931!5m2!1ses-419!2smx"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <!-- Columna de información -->
      <div class="col-md-6 mb-4 text-center">
        <div class="fondo p-3 mb-3">
          <h3>Dirección</h3>
          <p>
            Avenida Universidad 602, Lomas del Campestre, 37150 León de los
            Aldama, Gto.
          </p>
        </div>
        <div class="fondo p-3 mb-3">
          <h3>Número telefónico</h3>
          <p>+524770374827</p>
        </div>
        <div class="redes d-flex justify-content-center gap-3">
          <a href="#" class="d-flex flex-column align-items-center">
            <img
              src="../src/svg/facebook-o-svgrepo-com.svg"
              alt="Facebook"
              width="40"
            />
            <span>Facebook</span>
          </a>
          <a href="#" class="d-flex flex-column align-items-center">
            <img
              src="../src/svg/instagram-167-svgrepo-com.svg"
              alt="Instagram"
              width="40"
            />
            <span>Instagram</span>
          </a>
          <a href="#" class="d-flex flex-column align-items-center">
            <img
              src="../src/svg/icons8-twitterx.svg"
              alt="Twitter"
              width="40"
            />
            <span>Twitter</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
