<div class="enfermeraView">
    <div class="migasPan">
      <a href="">Inicio</a> -> <a class="nivelA" href="">Enfermera</a>
    </div>
    <div class="container mt-2">
      <!-- Título centrado -->
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="pb-4"><b>Enfermera</b></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h2>Estilo 1017</h2>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-md-6 d-flex align-items-center">
          <div class="text-box">
            <p>
                Zapato blanco de enfermera clásico y cómodo, con agujeta 
                para un ajuste personalizado. Hecho de materiales resistentes 
                y tecnología de confort, ideal para profesionales de la salud 
                que requieren un calzado cómodo y duradero.
            </p>
          </div>
        </div>
  
        <!-- Opción de agregar imagen -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img
            alt="modelo más vendido"
            src="/src/estilo1017.jpg"
            width="250"
            height="250"
          />
        </div>
      </div>

    </div>
  </div>
  