<div class="escolarView">
    <div class="migasPan">
      <a href="">Inicio</a> -> <a class="nivelA" href="">Escolar</a>
    </div>
    <div class="container mt-2">
      <!-- Título centrado -->
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="pb-4"><b>Escolar</b></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h2>Estilo 0000</h2>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-md-6 d-flex align-items-center">
          <div class="text-box">
            <p>
                
            </p>
          </div>
        </div>
  
        <!-- Opción de agregar imagen -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img
            alt="modelo más vendido"
            src=""
            width="250"
            height="250"
          />
        </div>
      </div>
  
      <!-- Joven -->
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h2>Estilo 0000</h2>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-md-6 d-flex align-items-center">
          <div class="text-box">
            <p>
                
            </p>
          </div>
        </div>
  
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img
            alt="modelo más vendido"
            src=""
            width="250"
            height="250"
          />
        </div>
      </div>
  
      <!-- Escolar -->
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h2>Estilo 0000</h2>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-md-6 d-flex align-items-center">
          <div class="text-box">
            <p>
                
            </p>
          </div>
        </div>
  
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img
            alt="modelo más vendido"
            src=""
            width="250"
            height="250"
          />
        </div>
      </div>
  
      <!-- Casual -->
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h2>Estilo 0000</h2>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-md-6 d-flex align-items-center">
          <div class="text-box">
            <p>
                
            </p>
          </div>
        </div>
  
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img
            alt="Zapatos casual"
            src=""
            width="250"
            height="250"
          />
        </div>
      </div>

    </div>
  </div>
  