<div class="senoraView">
  <div class="migasPan">
    <a href="">Inicio</a> ->
    <a onclick="cargarCatalogo();" href="#">Catálogo</a> ->
    <a class="nivelA" href="#">Escolar</a>
  </div>
  <div class="container mt-2">
    <!-- Título centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="pb-4"><b>Escolar</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h2>Estilo 0000</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
            dicta nihil ullam rerum suscipit dolores animi molestias dolorum
            odio eum veritatis dignissimos voluptates doloremque pariatur ipsa
            magni dolore alias similique!
          </p>
        </div>
      </div>

      <!-- Opción de agregar imagen -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="https://th.bing.com/th/id/OIP.EBmrIjDxUhX4gZuJVyWuZgHaFe?rs=1&pid=ImgDetMain"
          width="250"
          height="250"
        />
      </div>
    </div>

    <!-- Joven -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 0000</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
            reiciendis, cum quaerat in eius veniam velit aspernatur distinctio.
            Enim unde vero nesciunt similique aliquid, ipsam nam quisquam
            tenetur voluptatibus? Quis.
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="https://www.coppel.com/images/catalog/pr/8355012-1.jpg"
          width="250"
          height="250"
        />
      </div>
    </div>

    <!-- Escolar -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 0000</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            rerum minus suscipit dolore, sit dolor cupiditate eius amet aliquid!
            Possimus ad deserunt porro vel eos veniam! Hic et perspiciatis
            explicabo.
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="https://th.bing.com/th/id/OIP.Xj0wrddD90eBSZGppqLItgAAAA?rs=1&pid=ImgDetMain"
          width="250"
          height="250"
        />
      </div>
    </div>

    <!-- Casual -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 0000</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Praesentium nisi aspernatur eaque quia error, natus facere nobis
            dolorum, accusantium autem quis quidem sunt doloremque maiores
            quaerat necessitatibus quasi odit reprehenderit.
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="Zapatos casual"
          src="https://i.pinimg.com/originals/22/a8/22/22a822c8b1dc26338f9a5089f97415ff.jpg"
          width="250"
          height="250"
        />
      </div>
    </div>
  </div>
</div>
