<div class="inicioView">
  <div class="migasPan mb-3">
    <a class="nivelA" href="">Inicio</a>
  </div>

  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="src/carrousel1.jpeg" class="d-block" alt="1" />
        <div class="carousel-caption d-none d-md-block">
          <h3>Tendencias</h3>
          <button class="btn btn-primary" onclick="cargarTendencias()">
            Ver Tendencias
          </button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="src/carrousel2.jpeg" class="d-block" alt="2" />
        <div class="carousel-caption d-none d-md-block">
          <h3>Novedades</h3>
          <button class="btn btn-primary" onclick="cargarNovedades()">
            Ver Novedades
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="src/carrousel3.jpeg" class="d-block" alt="3" />
        <div class="carousel-caption d-none d-md-block">
          <h3>Catalogo</h3>
          <button class="btn btn-primary" onclick="cargarCatalogo()">
            Ver Catálogo
          </button>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container mt-5 mb-4">
    <!-- Título centrado -->
    <div class="row">
      <div class="about col-12">
        <h2 class="text-center">Informacion Acerca de Nosotros</h2>
        <p class="mt-4 text-justify">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, illum.
          Asperiores, hic illo voluptatem beatae culpa dicta reiciendis illum
          explicabo eos placeat. Harum nulla cupiditate temporibus minima
          officia, velit ducimus! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Iste nesciunt ipsa autem! Vero esse totam ratione
          tempore suscipit vel deserunt, earum, corrupti eligendi est
          consectetur! Fugit sed consequuntur quaerat provident. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Animi magni ex,
          voluptate distinctio rerum quod adipisci esse eius doloremque mollitia
          dolore alias quidem nisi, ut itaque, maiores vel aspernatur provident?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
          mollitia consequuntur perferendis minus dolores sint odio laboriosam
          ipsum itaque soluta deserunt voluptatibus placeat nihil facere
          dignissimos nam rem voluptatum beatae! Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Doloremque culpa molestiae dolorum
          necessitatibus libero sint explicabo reiciendis eum odio perspiciatis,
          ea nulla possimus temporibus, quam, sapiente nam aliquid. Iusto,
          rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
          fugit neque repellendus magnam quidem a quos, libero quisquam sit
          incidunt provident debitis ullam dolorem doloremque totam eligendi vel
          quaerat inventore?
        </p>
      </div>
    </div>
  </div>
</div>
