<div class="senoraView">
  <div class="migasPan">
    <a href="">Inicio</a> ->
    <a onclick="cargarCatalogo();" href="#">Catálogo</a> ->
    <a class="nivelA" href="#">Joven</a>
  </div>
  <div class="container mt-2">
    <!-- Título centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="pb-4"><b>Joven</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h2>Estilo 9204</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Zapato plateado juvenil y elegante, con agujeta para un ajuste
            personalizado. Cuenta con una suela alta y ligera que proporciona un
            diseño sofisticado y cómodo. Ideal para jóvenes que buscan un
            calzado que combine estilo y confort
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="/src/estilo9204(1).jpg"
          width="250"
          height="250"
        />
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 9204</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Zapato color antimonio juvenil y elegante, con agujeta para un
            ajuste personalizado. Cuenta con una suela alta y ligera que
            proporciona un diseño sofisticado y cómodo. Ideal para jóvenes que
            buscan un calzado que combine estilo y confort
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="/src/estilo9204(2).jpg"
          width="250"
          height="250"
        />
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 9204</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Zapato dorado juvenil y elegante, con agujeta para un ajuste
            personalizado. Cuenta con una suela alta y ligera que proporciona un
            diseño sofisticado y cómodo. Ideal para jóvenes que buscan un
            calzado que combine estilo y confort
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="/src/estilo9204(3).jpg"
          width="250"
          height="250"
        />
      </div>
    </div>
  </div>
</div>
