<div class="novedadesView">
  <div class="migasPan">
    <a href="">Inicio</a> -> <a class="nivelA" href="">Novedades</a>
  </div>
  <div class="container mt-3 mb-4">
    <!-- Título centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="pb-4"><b>Novedades</b></h1>
      </div>
    </div>
    <div class="contenido row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-4 abajo">
        <h5>Informacion del modelo</h5>
        <img
          src="https://img.kwcdn.com/product/fancy/af6590dc-ed11-4cc4-8bce-7034599ebb87.jpg?imageMogr2/auto-orient%7CimageView2/2/w/800/q/70/format/webp"
          alt="Novedad1"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-4 arriba">
        <h5>Informacion del modelo</h5>
        <img
          src="https://img.ltwebstatic.com/images3_pi/2024/03/18/76/1710739461cadbc6bb6e8845141320e93747d2363a_thumbnail_405x552.jpg"
          alt="Novedad2"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-4 abajo">
        <h5>Informacion del modelo</h5>
        <img
          src="https://www.pequenahuella.com/modules/ph_simpleblog/covers/208.jpg"
          alt="Novedad3"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-4 arriba">
        <h5>Informacion del modelo</h5>
        <img
          src="https://mundowomanshop.com/cdn/shop/products/5_71ee4cbe-10d3-4364-9e39-64f7b1b1893e.jpg?v=1666971103"
          alt="Novedad4"
        />
      </div>
    </div>
  </div>
</div>
