<div class="senoraView">
  <div class="migasPan">
    <a href="">Inicio</a> ->
    <a onclick="cargarCatalogo();" href="#">Catálogo</a> ->
    <a class="nivelA" href="#">Señora</a>
  </div>
  <div class="container mt-2">
    <!-- Título centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="pb-4"><b>Señora</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h2>Estilo 6018</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Zapato de señora negro elegante y cómodo, con cierre lateral que
            facilita su uso. Su diseño cuidadoso proporciona un ajuste preciso y
            un soporte adecuado para el pie. Ideal para uso diario o ocasiones
            especiales, este zapato es perfecto para aquellas que buscan
            comodidad y estilo.
          </p>
        </div>
      </div>

      <!-- Opción de agregar imagen -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="/src/estilo6018.jpg"
          width="250"
          height="250"
        />
      </div>
    </div>

    <!-- Joven -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 6012</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Zapato de señora de piel café elegante y cómodo, con franja de tela
            suave en el empeine que garantiza un ajuste perfecto. Su diseño
            cuidadoso proporciona un soporte adecuado para el pie, mientras que
            la piel café de alta calidad añade un toque de sofisticación. Ideal
            para uso diario o ocasiones especiales.
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="/src/estilo6012.jpg"
          width="250"
          height="250"
        />
      </div>
    </div>

    <!-- Escolar -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 4061</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Zapato de señora negro elegante y cómodo, hecho de piel de alta
            calidad. Cuenta con un resorte innovador en los costados del
            empeine, que garantiza un ajuste perfecto y flexible. Ideal para uso
            diario o ocasiones especiales, este zapato combina estilo y
            comodidad.
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="/src/estilo4061.jpg"
          width="250"
          height="250"
        />
      </div>
    </div>

    <!-- Casual -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 4091</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Descubre el confort con este zapato de señora negro de piel,
            diseñado con un resorte lateral que reduce la presión y proporciona
            un ajuste suave. La piel suave y flexible garantiza una sensación de
            bienestar en cada paso.
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="Zapatos casual"
          src="/src/estilo4091.jpg"
          width="250"
          height="250"
        />
      </div>
    </div>

    <!-- Enfermera -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Estilo 1016</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-box">
          <p>
            Descubre el confort con este zapato de señora café de piel, diseñado
            con un ajuste suave y un soporte óptimo. El accesorio lateral cerca
            del empeine añade un toque de elegancia.
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          alt="modelo más vendido"
          src="/src/estilo1016.jpg"
          width="250"
          height="250"
        />
      </div>
    </div>
  </div>
</div>
